body{
    background-color: #eee;
    font-family: sans-serif;
    
    
    
}
.card{
    padding:5px;
    width: 400px;
    background-color: white;
    margin: 0 auto;
    
}
.title{
    background: #e3f4ff;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    
}
.content{
    background: #e3f4ff;
    padding: 5px;
    margin: 5px;

}
.button-container{
    background: #e3f4ff;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
button {
    background: white;
    border: 2px solid black;
    display: block;
    margin:0  auto;
    
  }